@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes small {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5, 0);
    }
}

@keyframes slow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes moveLeft {
    0% {
        margin-left: 50vw;
    }

    100% {
        margin-left: 28vw;
    }
}

.show {
    animation: slideIn;
    animation-duration: 2s;
    transform: translateY(-10vh);
}

.plan {
    overflow-y: hidden;
}

.sp {
    padding-right: 20px;
}

.head {
    text-align: center;
    font-size: 100px;
    padding-top: 280px;
}

.box {
    animation: small ease-in-out 800ms;
    height: 100vh;
    background-color: black;
}

.text {
    display: none;
    color: black;
    height: 100vh;
    animation: fade 3000ms;
    margin-left: 50vw;
    padding-top: 273px;
    animation: moveLeft 700ms ease-in;
    margin-right: 5vw;
}

.text .sp {
    font-weight: 600;
    font-size: 120px;
}

.center {
    font-size: 120px;
}

.pos {
    font-size: 120px;
    margin-left: 28vw;
    color: black;
    height: 100vh;
    font-weight: bolder;
    padding-top: 273px;
}

.hide {
    display: none;
}

.show0 {
    display: inline;
    animation: slow ease-in-out 1000ms;
}

.show1 {
    display: inline;
    animation: slow ease-in-out 1000ms;
}

.show2 {
    display: inline;
    animation: slow ease-in-out 1000ms;
}

.show3 {
    display: inline;
    animation: slow ease-in-out 1000ms;
}

.show4 {
    display: inline;
    animation: slow ease-in-out 1000ms;
}

.full {
    animation: fadeOut ease-in-out 1000ms;
    opacity: 0;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .sp {
        padding-right: 15px;
    }

    .text {
        margin-left: 40vw;
    }

    .text .sp {
        font-size: 100px;
    }

    .center {
        font-size: 100px;
    }

    .pos {
        font-size: 100px;
        margin-left: 22vw;
    }

    @keyframes moveLeft {
        0% {
            margin-left: 40vw;
        }

        100% {
            margin-left: 22vw;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

    .sp {
        padding-right: 10px;
    }

    .text {
        margin-left: 40vw;
    }

    .text .sp {
        font-size: 90px;
    }

    .center {
        font-size: 90px;
    }

    .pos {
        font-size: 90px;
        margin-left: 18vw;
    }

    @keyframes moveLeft {
        0% {
            margin-left: 40vw;
        }

        100% {
            margin-left: 18vw;
        }
    }
}

@media only screen and (max-width: 600px) {
    .sp {
        padding-right: 8px;
    }

    .text {
        margin-left: 50vw;
    }

    .text .sp {
        font-size: 55px;
    }

    .center {
        font-size: 55px;
    }

    .pos {
        font-size: 55px;
        margin-left: 24vw;
    }

    @keyframes moveLeft {
        0% {
            margin-left: 50vw;
        }

        100% {
            margin-left: 24vw;
        }
    }
}

@media only screen and (max-width: 400px) {
    .text .sp {
        font-size: 36px;
    }

    ;

    .center {
        font-size: 36px;
    }

    .pos {
        font-size: 36px;
    }
}